.graph { background: #333; }
.wire { stroke: #FBD0DC; }
.port { z-index: 5; border-radius: 16px; background-color: lightblue; }
.node { background-color: #eee; border-radius: 8px; }
.group { background-color: rgba(255, 255, 255, 0); }
.palette { z-index: 10; pointer-events: none; }
.frame { background-color: rgba(255,255,255,0.1) }
.title { padding-left: 10px; padding-right: 10px; box-shadow: 0 -3px 5px 1px rgba(255, 255, 255, 0.05); color: #aaa; font-size: 12px; background-color: #333; }
.custom-port { width: 100%; height: 100%; border-radius: 20px; }
.custom-node { border-radius: 8px; position: relative; width: calc(100% - 10px); color: #aaa; background: #eee; overflow-x: auto; box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.25);}
.custom-group { width: 100%; height: 100%; background-color: #333; }
.arrow { fill: #FBD0DC; }