/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(./roboto-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(./roboto-medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(./roboto-bold.woff2) format('woff2');
}

/* license: SIL Open Font License (OFL)
 * link: https://www.fontspace.com/maven-pro-font-f21944 */

@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    src: url(./MavenProRegular-97pn.woff2) format('woff2');
}

@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    src: url(./MavenProMedium-ynAe.woff2) format('woff2');
}

@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 700;
    src: url(./MavenProBold-62vA.woff2) format('woff2');
}

@font-face {
    font-family: 'sketchica';
    src: url("./Sketchica-MB4Y.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WhereStarsShineTheBrightest';
    src: url("./WhereStarsShineTheBrightest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alliance';
    src: url("./Alliance-No-1-Regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allianceExtra';
    src: url("./Alliance-No-1-ExtraBold.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    src: url(Nunito.woff2) format('woff2');
}

