.overlay {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}

.graph {
    overflow: hidden;
    background: #eee;
    z-index: 0;
}

.palette {
    z-index: 1;
}

.node {
    position: absolute;
    background: #444;
    transform-origin: 0 0;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 2;
}

.group {
    position: absolute;
    transform-origin: 0 0;
    background-color: darkseagreen;
    z-index: 1.5;
}

.node:hover {
    z-index: 3;
}

.port {
    position: absolute;
    cursor: crosshair;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
}

.wire {
    stroke: darkslateblue;
}

.frame {
    position: absolute;
    background-color: rgba(0, 191, 255, 0.25);
    z-index: 10;
}

.handle {
    cursor: move;
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    z-index: 9;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
}

.title {
    position: absolute;
    height: 16px;
    top: -16px;
    left: 0;
    padding: 2px 5px;
}